---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
  <main class="wrapper grid h-full place-content-center gap-4">
    <h1 class="font-recoleta text-shadow-effect text-3xl md:text-6xl">Page Not Found</h1>
  </main>
</BaseLayout>
