---
import BaseLayout from "../layouts/BaseLayout.astro";
import Subtitle from "../components/Subtitle.astro";

const skills = "https://skillicons.dev/icons?i=python,go,typescript,flask,express,postgres,mysql,docker,html,css,react,svelte&perline=7";
---

<BaseLayout>
  <main class="wrapper">
    <Subtitle>About Me</Subtitle>
    <div class="about">
      <div class="stack gap-10">
        <div>
          <p>
            Hello! I'm Victor, a <span>software engineer</span> student based in Guerrero, Mexico. I chose to pursue programming because I
            love crafting innovative solutions to a variety of problems.
          </p>
          <p>
            As a dedicated and enthusiastic
            <span>web developer</span>, creating <span>responsive</span> and <span>user-friendly</span> web applications is my bread and
            butter.
          </p>
          <p>
            Always eager to explore new technologies and tools. When I'm not coding, you'll find me hitting the gym, playing music, or
            strumming my guitar.
          </p>
        </div>
        <div class="tech">
          <h3>Technologies</h3>
          <img src={skills} alt="skill-icons" />
        </div>
      </div>
      <div>
        <div class="about-image">
          <img src="/assets/about.webp" alt="My i3 Debian desktop." />
        </div>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  .about {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 2rem;
  }

  .about-image img {
    border-radius: 0.25rem;
    object-fit: cover;
  }

  h3 {
    font-size: var(--text-lg);
    font-family: var(--font-brand);
    padding-bottom: 1rem;
  }

  p {
    font-size: var(--text-md);
    margin-bottom: 1rem;
  }

  span {
    font-weight: 600;
    color: var(--accent-dark);
  }

  @media (min-width: 64em) {
    .about {
      display: grid;
      grid-template-columns: 6fr 5fr;
      gap: 3rem;
    }

    .about-image {
      position: relative;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }

      &::after {
        border: 2px solid var(--accent-dark);
        top: 8px;
        left: 15px;
        z-index: -1;
      }
    }
  }
</style>
