---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Icon from "../components/Icon.astro";
---

<BaseLayout>
  <main class="layout wrapper" transition:animate="slide">
    <section class="contact wrapper">
      <h2>Interested in working together?</h2>
      <p>
        I'm on the lookout for new opportunities, and my inbox is open 24/7. Whether you've got questions or just want to say hi, I'll do my
        best to get back to you as soon as possible!
      </p>
      <Button href="mailto:victoralbertomhp@gmail.com" color="bg-pink">
        Send Me a Message
        <Icon icon="paper-plane-tilt" size="1.2em" />
      </Button>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-top: 2px solid var(--gray-800);
    border-bottom: 2px solid var(--gray-800);
    padding: 5rem 1.5rem;
    box-shadow: var(--shadow-sm);
  }

  h2 {
    font-size: var(--text-xl);
    text-align: center;
  }

  p {
    font-size: var(--text-base);
    text-align: center;
  }

  @media (min-width: 50em) {
    .contact {
      padding: 7.5rem;
      flex-wrap: wrap;
    }

    h2 {
      font-size: var(--text-3xl);
    }

    p {
      max-width: 50ch;
      font-size: var(--text-md);
    }
  }
</style>
