---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import Icon from "../components/Icon.astro";
---

<BaseLayout>
  <main class="wrapper flex items-center justify-center" transition:animate="slide">
    <section class="w-full h-fit flex flex-col text-center justify-center items-center gap-12 border-t-2 border-b-2 border-gray-800 py-20 px-6 lg:flex-wrap lg:p-28">
      <h2 class="font-recoleta text-3xl md:text-4xl">Interested in working together?</h2>
      <p class="max-w-[50ch]">
        I'm on the lookout for new opportunities, and my inbox is open 24/7. Whether you've got questions or just want to say hi, I'll do my
        best to get back to you as soon as possible!
      </p>
      <Button href="mailto:victoralbertomhp@gmail.com">
        Send Me a Message
        <Icon icon="plane" size="1.625em" />
      </Button>
    </section>
  </main>
</BaseLayout>
