---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
---

<BaseLayout>
  <main
    class="wrapper flex flex-col-reverse justify-center gap-12 py-12 md:px-8 lg:grid lg:grid-cols-[5fr_3fr] lg:place-items-center"
    transition:animate="slide"
  >
    <div class="space-y-12 text-start text-lg">
      <div class="space-y-8">
        <div class="space-y-4">
          <h1 class="text-dark font-bold">Hi, my name is</h1>
          <h2 class="text-shadow-effect font-recoleta text-5xl lg:text-7xl">Victor Alberto.</h2>
          <h3 class="font-recoleta text-3xl lg:text-5xl">I craft ideas into code.</h3>
        </div>
        <div>
          <p class="max-w-[60ch] text-lg">
            I’m a software engineering student focused on creating user-friendly and reliable digital solutions. I’m passionate about
            learning and improving every day.
          </p>
        </div>
      </div>
      <div class="flex flex-col justify-start gap-8 md:flex-row">
        <Button href="/about" color="bg-btn-green">About me</Button>
        <Button href="/work" color="bg-btn-blue">Check out my work!</Button>
      </div>
    </div>
    <div class="hero-img">
      <img src="/assets/profile.jpeg" alt="" />
    </div>
  </main>
</BaseLayout>

<style>
  .hero-img img {
    aspect-ratio: 5/4;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
  }

  @media (min-width: 64em) {
    .hero-img {
      width: 100%;
      position: relative;
      display: block;
      border-radius: 0.5rem;

      & img {
        aspect-ratio: 3/4;
        border-radius: 0.5rem;
      }

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
      }

      &::after {
        border: 2px solid var(--color-dark);
        top: 15px;
        left: 20px;
        z-index: -1;
      }
    }
  }
</style>
