---
import BaseLayout from "../layouts/BaseLayout.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
import ContactCTA from "../components/ContactCTA.astro";
---

<BaseLayout>
  <main class="stack gap-20 lg:gap-20">
    <section class="home wrapper stack gap-8 lg:gap-20">
      <Home />
    </section>
    <section id="about">
      <About />
    </section>
    <section id="work">
      <Work />
    </section>
    <section id="work">
      <ContactCTA />
    </section>
  </main>
</BaseLayout>

<style>
  .home {
    min-height: 100svh;
    justify-content: center;
  }
</style>
