---
import BaseLayout from "../layouts/BaseLayout.astro";
import Subtitle from "../components/Subtitle.astro";
import WorkCard from "../components/WorkCard.astro";
import { getCollection } from "astro:content";

const work = await getCollection("work");
---

<BaseLayout>
  <main class="wrapper space-y-24 py-12 md:px-8 lg:gap-20" transition:animate="slide">
    <section>
      <Subtitle>Work</Subtitle>
      <ul class="flex flex-col gap-10 lg:gap-15">
        {
          work.map((w) => (
            <li>
              <WorkCard work={w} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  h3::before,
  h3::after {
    content: "";
    flex-grow: 1;
    height: 2px;
    background-color: var(--color-gray-800);
  }
</style>
