---
import BaseLayout from "../layouts/BaseLayout.astro";
import Subtitle from "../components/Subtitle.astro";
import ProyectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("proyects");
---

<BaseLayout>
  <main class="wrapper py-12 md:px-8 lg:gap-20" transition:animate="slide">
    <section>
      <Subtitle>Work</Subtitle>
      <ul class="flex flex-col gap-10 lg:gap-15">
        {
          projects.map((p) => (
            <li>
              <ProyectCard project={p} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>
