---
import { socialsArray } from "../config.ts";

const currentYear = new Date().getFullYear();

// Remove discord from the footer
const socialsFooter = socialsArray.slice(1)
---

<footer
  class="flex h-auto min-w-[50px] flex-col items-center justify-center gap-1 px-6 py-4 text-center text-sm text-zinc-500 md:flex-row md:gap-4"
>
  <div>
    <p>&copy; {currentYear} Victor Alberto</p>
  </div>
  <div class="flex flex-wrap items-center gap-2">
    {
      socialsFooter.map(({ label, href, icon }) => (
        <a
          class="text-inherit decoration-zinc-500 underline-offset-4 transition-all hover:underline focus-visible:underline"
          target="_blank"
          href={href}
          rel="noopener noreferrer"
        >
          {label}
        </a>
      ))
    }
  </div>
</footer>
