<div class="space-y-12 text-start text-lg">
  <div class="space-y-8">
    <div class="space-y-4">
      <h1 class="text-dark font-bold">Hi, my name is</h1>
      <h2 class="text-shadow-effect font-recoleta text-5xl md:text-7xl">Victor Alberto.</h2>
      <h3 class="font-recoleta text-3xl md:text-5xl">I craft ideas into code.</h3>
    </div>
    <div>
      <p class="max-w-[60ch] text-lg">
        I’m a software engineering student focused on creating user-friendly and reliable digital solutions. I’m passionate about learning
        and improving every day.
      </p>
    </div>
  </div>
  <slot />
</div>
