---
import { getCollection } from "astro:content";

import Subtitle from "./Subtitle.astro";
import PortfolioPreview from "./PortfolioPreview.astro";

const projects = await getCollection("proyects");
---

<div class="wrapper stack gap-4">
  <Subtitle>Projects</Subtitle>
  <ul class="stack gap-10 lg:gap-20">
    {
      projects.map(
        (project) =>
          project.data.area === "projects" && (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ),
      )
    }
  </ul>
</div>
