---
import Icon from "./Icon.astro";
import { iconLinks } from "../config/socials";
---

<div class="side">
  <div class="socials-wrapper">
    <ul class="socials">
      {
        iconLinks.map(({ href, icon, label }) => (
          <li>
            <a href={href} target="_blank">
              <span class="sr-only">{label}</span>
              <Icon icon={icon} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  .side {
    position: fixed;
    bottom: 0;
    left: 40px;
    right: auto;
  }

  .socials-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .socials-wrapper:after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--gray-800);
  }

  .socials {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: 1.75rem;
  }

  .socials a {
    display: flex;
    padding: 0.25rem;
    color: var(--gray-800);
    transition: all var(--theme-transition);
  }

  .socials li:last-child {
    padding-bottom: 2rem;
  }

  .socials a:is(:hover, :focus-visible) {
    color: var(--accent-dark);
    transform: translateY(-3px);
  }

  @media (max-width: 50em) {
    .side {
      display: none;
    }
  }
</style>
