---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Socials from "../components/Socials.astro";
import Email from "../components/Email.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead {title} {description} />
  </head>
  <body>
    <div id="home" class="base-container gap-10 lg:gap-20">
      <Nav />
      <Socials />
      <Email />
      <slot />
      <Footer />
    </div>

    <script>
      document.addEventListener("astro:page-load", () => document.documentElement.classList.add("loaded"));
    </script>
  </body>
</html>
